/* Navigation.module.css */
.nav {
    background-color: #333;
    padding: 1rem;
  }
  
  .link {
    color: white;
    margin-right: 1rem;
    text-decoration: none;
  }
  
  .linkActive {
    font-weight: bold;
  }
  